<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <main class="container">
            <%  include ../static/partials/messages.ejs %>
            <h1><%= wiki.title %></h1>
            <% if(currentUser && (!wiki.private || (currentUser.isAdmin() || currentUser.isPremium()))) { %>
            <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-primary">Edit</a>
            <% } %>
            <% if((currentUser && currentUser.id == wiki.userId) || (currentUser && currentUser.isAdmin())) { %>
            <form style="display: initial" action="/wikis/<%= wiki.id %>/destroy" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <% } %>
            <section><%- bodyMarkdown %></section>
        </main>
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>